body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #f4a261;
  color: white
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

header .logo h1 {
  margin:0;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

section {
  padding: 20px;
  text-align: center;
}

#home {
  background-color: #ffe8d6;
  padding: 40px;
}

#about {
  background-color: #ffe8d6;
}

form {
  max-width: 400px;
  margin: 0 auto;
  text-align: left;
}

form label {
  display: block;
  margin-bottom: 5px;
}

form input, form textarea, form button {
  width: 100%;
  margin-bottom : 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

footer {
  background-color: #264653
  color: white;
  text-align: center;
  padding: 10px 0;
}
